<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Authentication</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Log in using</string>
			<key>Key</key>
			<string>loginMethod</string>
			<key>DefaultValue</key>
			<string>facebook</string>
			<key>Titles</key>
			<array>
				<string>Facebook</string>
				<string>Twitter</string>
				<string>Google</string>
				<string>Microsoft</string>
				<string>Don&apos;t log in</string>
			</array>
			<key>Values</key>
			<array>
				<string>facebook</string>
				<string>twitter</string>
				<string>google</string>
				<string>microsoftaccount</string>
				<string>nil</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Home Tab</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show Favourites</string>
			<key>Key</key>
			<string>showFavourites</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>showExpenses</string>
			<key>Title</key>
			<string>Show Recent Expenses</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
